.app__main-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.list__character {
  margin: 10px;
}

.list__character-link {
  text-decoration: none;
  color: white;
}

@media all and (min-width: 480px) {
  .app__main-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 5px;
    grid-column-gap: 5px;
  }
}
