.detail__back {
  margin: 0;
  padding: 25px;
  text-decoration: none;
  color: white;
}

.detail__wrapper {
  background-color: #12afc7;
  padding-bottom: 5px;
  max-width: 250px;
}

.detail__img {
  width: 100%;
  max-width: 250px;
}

